.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #8883;
  padding: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
    // fit
    object-fit: cover;
    overflow: hidden;
  }
}