.mat-mdc-row:hover {
  background-color: #88888833;
  cursor: pointer;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.mat-column-image,
.mat-column-available,
.mat-column-rating {
  text-align: center;
}

.mat-column-price {
  text-align: right;
}

th .mat-icon {
  font-size: medium;
}