<div class="container mx-auto">
  <mat-card class="mat-elevation-z8" [appearance]="'outlined'">
    <mat-card-header>
      <mat-card-title>
        <h1><em>"AngularProducts"</em></h1>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>Aplicación <em>Angular (v17)</em> de ejemplo.</p>
      <p>DAW - Desarrollo Web en Entorno Cliente</p>
      <p>Curso 2023-2024</p>
      <p>IES Serpis</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="justify-content-end">
      <button mat-button
              color="primary"
              [routerLink]="['/products']">
        <mat-icon aria-hidden="false"
                  fontIcon="list"></mat-icon>
        Productos
      </button>
      @if(user) {
      <button mat-button
              color="primary"
              [routerLink]="['/user/profile']">
        <i class="bi bi-person-circle"></i>
        Perfil de usuario
      </button>
      } @else {
      <button mat-button
              color="primary"
              [routerLink]="['/user/login']">
        <i class="bi bi-box-arrow-in-right"></i>
        Login
      </button>
      }
    </mat-card-actions>
  </mat-card>
</div>
