// Refs.:
// - [Multiple themes in one file](https://material.angular.io/guide/theming#multiple-themes-in-one-file)
//

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

// Tema oscuro
$dark-theme: mat.define-dark-theme(
  (
    color: (
      // primary: mat.define-palette(mat.$amber-palette, 200),
      // accent: mat.define-palette(mat.$pink-palette, 200),
      primary: mat.define-palette(mat.$amber-palette, 200),
      accent: mat.define-palette(mat.$deep-purple-palette, A200),
      // The warn palette is optional (defaults to red).
      warn: mat.define-palette(mat.$red-palette, 200),
    ),
    // Incluye `typography` y `density` en el tema oscuro por defecto.
    typography: mat.define-typography-config(),
    density: -2,
  )
);

// Tema claro
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$amber-palette, 200),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Aplica el tema oscuro por defecto
@include mat.all-component-themes($light-theme);
@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);

// Aplica el tema claro solo cuando el usuario prefiera temas claros.
@media (prefers-color-scheme: dark) {
  // Usa el mixin `-color` para aplicar solo estilos de color
  // sin volver a aplicar los mismos estilos de tipografía y densidad.
  @include mat.core-color($dark-theme);
  @include mat.button-color($dark-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

.light-theme {
  @include mat.all-component-colors($light-theme);
}

// fix for mat-card elevation
.mat-mdc-card.mat-elevation-z2 {
  @include mat.elevation(2);
}

.mat-mdc-card.mat-elevation-z4 {
  @include mat.elevation(4);
}

.mat-mdc-card.mat-elevation-z6 {
  @include mat.elevation(6);
}

.mat-mdc-card.mat-elevation-z8 {
  @include mat.elevation(8);
}

.mat-mdc-card.mat-elevation-z10 {
  @include mat.elevation(10);
}

body * {
  transition: background-color 0.2s;
}